.text-red {
  color: #FE4433 !important; }

.text-blue {
  color: #435A9C !important; }

.text-green {
  color: #40c242 !important; }

html body {
  font-family: "Roboto", sans-serif; }
  html body a {
    color: #435A9C; }
  html body h1, html body h2, html body h3, html body .h1, html body .h2, html body .h3, html body .page-title {
    font-family: "Roboto Condensed", "Roboto", sans-serif !important; }
  html body h4, html body h5, html body h6, html body .h4, html body .h5, html body .h6, html body .box-title, html body fieldset.fieldset .legend {
    font-family: "Roboto", sans-serif !important;
    letter-spacing: 0; }
  html body .btn, html body button, html body .btn-wishlist {
    box-shadow: none;
    font-size: 14px;
    text-shadow: none;
    padding: 8px 20px;
    text-transform: none !important; }
    html body .btn:hover, html body .btn:focus, html body .btn:active, html body button:hover, html body button:focus, html body button:active, html body .btn-wishlist:hover, html body .btn-wishlist:focus, html body .btn-wishlist:active {
      background: #FE4433;
      color: #fff; }
  html body .btn-primary {
    background: #435A9C;
    box-shadow: none;
    color: #fff; }
    html body .btn-primary:hover, html body .btn-primary:focus, html body .btn-primary:active {
      background: #FE4433;
      color: #fff; }
  html body .btn-cart {
    background: #435A9C;
    font-size: 16px; }
    html body .btn-cart:hover, html body .btn-cart:focus, html body .btn-cart:active {
      background: #FE4433;
      color: #fff; }
  html body .bundle-options-container .product-add-form .product-addto-links a, html body .product-info-main .product-social-links a {
    box-shadow: none;
    background: #eee; }
    html body .bundle-options-container .product-add-form .product-addto-links a:hover, html body .bundle-options-container .product-add-form .product-addto-links a:focus, html body .product-info-main .product-social-links a:hover, html body .product-info-main .product-social-links a:focus {
      color: #fff;
      background: #FE4433; }
  html body input[type="text"], html body input[type="email"], html body input[type="password"], html body .form-control:not(.btn) {
    font-size: 16px;
    border: 1px solid #ccc; }
  html body .shadow-box {
    padding: 1.2rem;
    background: #F0F0F0;
    border-radius: 5px;
    box-shadow: -5px 5px 0 #E3E3E3;
    margin-bottom: 2.5rem; }
    html body .shadow-box .form-control:not(.btn) {
      background: #fff; }
    html body .shadow-box.text-center .form-control {
      text-align: center; }
  html body section.shadow-box {
    margin-bottom: 4em; }
  html body .back-in-stock, html body .label-sale, html body .label-new {
    background: #40c242; }
  html body .space-0 {
    margin-bottom: 0 !important; }
  html body .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  html body .content-wrapper {
    margin-top: 2.5rem; }
  html body .page-title {
    margin-bottom: 0 !important;
    color: #333 !important; }
  html body .page-header .header-links {
    list-style: none;
    font-size: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px; }
    html body .page-header .header-links li {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      position: relative; }
      html body .page-header .header-links li a {
        font-size: 12px;
        color: #444444;
        font-weight: 400;
        display: block;
        margin: 0;
        padding: 0 8px; }
        html body .page-header .header-links li a i {
          font-size: 15px;
          margin-right: 5px;
          -webkit-transition: none;
          -moz-transition: none;
          transition: none;
          top: 1px;
          position: relative; }
      html body .page-header .header-links li a:hover {
        background: none;
        text-decoration: underline; }
  html body .page-header .free-shipping-text {
    color: #FE4433;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    float: right; }
  html body .page-header .header-search .minisearch input[type="text"] {
    background: #fff; }
  html body .page-header .header-search .input-group-btn .btn {
    height: 36px;
    border-radius: 0 5px 5px 0; }
    html body .page-header .header-search .input-group-btn .btn i {
      margin: 0;
      font-size: 18px; }
  html body .page-header .mobile-extras {
    margin-left: -10px; }
    html body .page-header .mobile-extras .location-icon {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top; }
      @media (max-width: 430px) {
        html body .page-header .mobile-extras .location-icon {
          margin-right: 8px; } }
      html body .page-header .mobile-extras .location-icon i {
        font-size: 34px; }
        @media (max-width: 430px) {
          html body .page-header .mobile-extras .location-icon i {
            font-size: 28px; } }
    html body .page-header .mobile-extras .btn {
      vertical-align: top; }
      @media (max-width: 430px) {
        html body .page-header .mobile-extras .btn {
          font-size: 14px;
          padding: 6px 10px; } }
  @media (max-width: 767px) {
    html body .page-header .cart-stuff {
      position: absolute;
      top: 0;
      right: 0; } }
  html body .page-header .cart-stuff .login-info {
    text-align: right;
    float: left;
    padding-right: 10px;
    width: 50%;
    font-weight: 600;
    border-right: 1px solid #ccc; }
  @media (min-width: 768px) {
    html body .page-header .cart-stuff .minicart-wrapper {
      float: right;
      width: 50%;
      padding-left: 10px;
      margin: 0;
      margin-top: -5px; } }
  @media only screen and (max-width: 1007px) {
    html body .page-header .cart-stuff .minicart-wrapper {
      position: relative;
      right: auto;
      top: auto; } }
  html body .page-header .cart-stuff .minicart-wrapper .action.showcart {
    padding: 5px; }
  html body .page-header .menu-bar {
    background: #f2f2f2; }
    html body .page-header .menu-bar .menu-bar-inner {
      padding-top: 0;
      padding-bottom: 0; }
    html body .page-header .menu-bar .megamenu {
      float: left; }
      html body .page-header .menu-bar .megamenu .mega {
        display: inline-block;
        background: #E9EDF4;
        color: #435A9C;
        font-size: 18px;
        line-height: 38px;
        padding: 0 15px;
        border: 1px solid rgba(67, 90, 156, 0.35);
        font-weight: 600; }
        html body .page-header .menu-bar .megamenu .mega:hover {
          background: #435A9C;
          color: #fff; }
          html body .page-header .menu-bar .megamenu .mega:hover:before {
            background: url(images/menu-icon-white.png) no-repeat; }
          html body .page-header .menu-bar .megamenu .mega:hover:after {
            color: #fff; }
        html body .page-header .menu-bar .megamenu .mega:before {
          content: '';
          display: inline-block;
          width: 28px;
          height: 20px;
          margin-right: 12px;
          margin-top: 7px;
          vertical-align: top;
          background: url(images/menu-icon.png) no-repeat; }
        html body .page-header .menu-bar .megamenu .mega:after {
          content: "\f123";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 16px;
          color: #435A9C;
          margin-left: 12px;
          vertical-align: middle;
          opacity: 0.5; }
    html body .page-header .menu-bar .top-block-links {
      list-style: none;
      padding: 0;
      float: left;
      line-height: 1;
      margin-bottom: 0;
      margin-left: 2rem;
      line-height: 40px; }
      html body .page-header .menu-bar .top-block-links li {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        position: relative; }
        html body .page-header .menu-bar .top-block-links li a {
          font-size: 14px;
          color: #777;
          font-weight: 400;
          display: block;
          margin: 0;
          padding: 0 8px; }
        html body .page-header .menu-bar .top-block-links li a:hover {
          text-decoration: underline; }
  html body .page-header .social-bar-wrap {
    line-height: 40px; }
  html body .page-header .social-links {
    margin-right: 0;
    padding-right: 0; }
    html body .page-header .social-links:after {
      display: none; }
    html body .page-header .social-links li a {
      height: 20px;
      width: 20px;
      line-height: 20px; }
      html body .page-header .social-links li a i {
        font-size: 12px; }
  @media (min-width: 768px) {
    html body .slider-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      html body .slider-wrap .slider-inner {
        height: 100%; } }
  html body .slider-wrap .slider {
    position: relative;
    min-height: 200px; }
    html body .slider-wrap .slider .highlight-message {
      background: #FBDA61;
      color: #635200;
      font-family: 'Roboto Condensed';
      font-weight: 600;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 15px;
      font-size: 21px;
      line-height: 1; }
      @media (max-width: 991px) {
        html body .slider-wrap .slider .highlight-message {
          top: auto;
          bottom: 0;
          left: 0;
          text-align: center; } }
  html body .slider-wrap .flintstone {
    width: 269px;
    height: 76px;
    background: url(images/flintstone.png) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: -10px; }
    html body .slider-wrap .flintstone span {
      color: #fff;
      font-family: 'Roboto Condensed';
      font-size: 26px;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 75px;
      transform: rotate(-3deg); }
  html body .homepage-blocks {
    margin-top: 4rem;
    margin-bottom: 2rem; }
    @media (max-width: 767px) {
      html body .homepage-blocks {
        margin-top: 0; } }
    html body .homepage-blocks .col-xs-4, html body .homepage-blocks .col-xs-6 {
      margin-bottom: 2rem; }
      @media (max-width: 767px) {
        html body .homepage-blocks .col-xs-4, html body .homepage-blocks .col-xs-6 {
          padding: 5px; } }
  html body .block-outline {
    padding: 2rem 0.5rem;
    border: 2px solid #435A9C;
    border-radius: 5px;
    box-shadow: -5px 5px 0 #E3E3E3;
    height: 100%; }
    html body .block-outline .h1, html body .block-outline .h2 {
      font-weight: bold;
      margin-bottom: 0; }
    html body .block-outline .h3, html body .block-outline .h4, html body .block-outline .h5 {
      font-weight: normal;
      margin: 0; }
    html body .block-outline * {
      color: #435A9C; }
    @media (min-width: 992px) {
      html body .block-outline {
        padding-left: 90px; }
        html body .block-outline .h1, html body .block-outline .h2 {
          font-weight: bold;
          margin-bottom: 0;
          line-height: 34px; }
        html body .block-outline .h3, html body .block-outline .h4, html body .block-outline .h5 {
          font-weight: normal;
          margin: 0;
          line-height: 34px; }
        html body .block-outline.shipping-box {
          background: url(images/icon-box.png) no-repeat center center;
          background-size: 55px 55px;
          background-position: 20px center; }
        html body .block-outline.closeouts-box {
          background: url(images/icon-dollar.png) no-repeat center center;
          background-size: 35px 57px;
          background-position: 20px center;
          padding-left: 70px; }
        html body .block-outline.clock-box {
          background: url(images/icon-clock.png) no-repeat center center;
          background-size: 53px 55px;
          background-position: 20px center; } }
    @media (max-width: 767px) {
      html body .block-outline {
        padding: 10px;
        text-align: center; }
        html body .block-outline .h1, html body .block-outline .h2, html body .block-outline .h3 {
          font-size: 20px;
          line-height: 1.25; }
        html body .block-outline .h4, html body .block-outline .h5 {
          font-size: 14px;
          line-height: 1.25; } }
    @media (max-width: 430px) {
      html body .block-outline .h1, html body .block-outline .h2, html body .block-outline .h3 {
        font-size: 16px;
        line-height: 1.1; }
      html body .block-outline .h4, html body .block-outline .h5 {
        font-size: 13px;
        line-height: 1.1; } }
  html body .banner-header {
    min-height: 70px;
    text-align: center;
    margin-bottom: 1rem;
    background: url(images/banner.png) no-repeat center top;
    background-size: 678px 69px;
    margin-top: -20px; }
    @media (max-width: 767px) {
      html body .banner-header {
        background-size: 600px; } }
    html body .banner-header h2 {
      padding-top: 11px;
      color: #fff;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        html body .banner-header h2 {
          font-size: 22px;
          letter-spacing: 0;
          padding-top: 8px; } }
  html body .product-carousel .col-xs-4, html body .product-carousel .col-xs-6 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0; }
  html body .product-carousel .item {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative; }
    html body .product-carousel .item > a:not(.btn) {
      color: #435A9C;
      display: block;
      margin-bottom: 5px; }
  html body .product-carousel .new-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 2px 5px; }
  html body .product-carousel .sale-label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    padding: 2px 5px; }
  html body .product-carousel .item-price {
    font-size: 24px;
    color: #FE4433;
    line-height: 30px;
    font-weight: 600; }
  html body .product-carousel .item-price-compare {
    font-size: 12px;
    margin-bottom: 5px; }
  @media (max-width: 991px) {
    html body .product-carousel {
      padding: 10px; }
      html body .product-carousel .col-xs-4, html body .product-carousel .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px; } }
  @media (max-width: 767px) {
    html body .product-carousel .btn {
      padding: 5px;
      font-size: 14px; } }
  html body .seasonal-boxes {
    padding: 15px; }
    @media (max-width: 991px) {
      html body .seasonal-boxes {
        padding: 10px; }
        html body .seasonal-boxes .col-xs-4, html body .seasonal-boxes .col-xs-6 {
          padding-left: 5px;
          padding-right: 5px; } }
  html body .image-block-text {
    text-align: center;
    padding: 10px;
    color: #435A9C;
    font-size: 22px;
    background: #fff;
    font-weight: 500; }
    @media (max-width: 767px) {
      html body .image-block-text {
        padding: 5px;
        font-size: 15px; } }
  html body .product .buttons-block .button-wrapper {
    display: block;
    width: 100%; }
    html body .product .buttons-block .button-wrapper form {
      width: 100%; }
    html body .product .buttons-block .button-wrapper .btn {
      width: 100%; }
  html body .products-list .price-block.listing-price .price, html body .products-grid .price-block.listing-price .price {
    color: #FE4433; }
  html body .sidebar .block.newsletter .btn:before {
    background: transparent; }
  html body .sidebar .block.filter ol li a {
    color: #435A9C; }
    html body .sidebar .block.filter ol li a:before {
      display: none; }
  html body .sidebar .block .filter-options-title, html body .sidebar .block .block-title {
    color: #444;
    padding-bottom: 10px;
    font-size: 12px; }
    html body .sidebar .block .filter-options-title:after, html body .sidebar .block .block-title:after {
      color: #666; }
  html body #amasty_locator_filter {
    margin-bottom: 4rem; }
  html body .contact-info > p {
    margin-bottom: 2rem; }
  html body .contact-info .contact-info-number {
    color: #FE4433;
    font-weight: bold;
    font-size: 1.5rem; }
  html body .block-contact-info .block-title {
    display: none; }
  html body .box {
    margin-bottom: 3rem; }
    html body .box .box-title {
      margin-bottom: 1rem;
      font-weight: bold; }
  html body fieldset.fieldset .legend {
    font-weight: bold;
    color: #222; }
  html body .bottom-block {
    margin-bottom: 2rem; }
  html body #product-review-table {
    padding: 15px; }
  html body .tab-content {
    padding: 15px; }
  html body .banner-full-image {
    margin-top: -2.5rem; }

/*# sourceMappingURL=NWL-styles.css.map */
